* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(233, 47%, 7%);
}

.retangle {
    font-family: 'Inter', sans-serif;
    width: 900px;
    height: 350px;
    background: hsl(244, 38%, 16%);
    position: relative;
    left: 200px;
    top: 150px;
    border-radius: 5px;
}

.text1 {
    color: hsl(0, 0%, 100%); 
    font-size: 15px;
    position: absolute;
    left: 40px;
    top: 50px;
}

.violet {
    color: hsl(277, 64%, 61%);
}

.text2 {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    position: absolute;
    left: 40px;
    top: 160px;
}

.text3 {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%); 
    position: absolute;
    left: 20px;
    top: 220px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.list li {
    margin: 20px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.6);
}

.image-filter {
    background: hsl(277, 64%, 61%);
    width: 450px;
    height: 350px;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
}

.image-filter img {
    border-radius: 0 5px 5px 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    width: 450px;
    height: 350px;
}

@media (max-width: 375px) {

    .retangle {
        font-family: 'Inter', sans-serif;
        width: 345px;
        height: 800px;
        background: hsl(244, 38%, 16%);
        position: relative;
        left: 15px;
        top: 55px;
        border-radius: 5px;
    }
    
    .text1 {
        color: hsl(0, 0%, 100%); 
        font-size: 15px;
        position: absolute;
        left: 20px;
        top: 400px;
    }

    .text2 {
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 12px;
        position: absolute;
        left: 20px;
        top: 500px;
    }

    .text3 {
        font-family: 'Lexend Deca', sans-serif;
        color: hsl(0, 0%, 100%); 
        position: absolute;
        left: 0;
        top: 600px;
    }

    .image-filter {
        background: hsl(277, 64%, 61%);
        width: 345px;
        /* height: 500px; */
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px 5px 0 0;
    }

    .image-filter img {
        border-radius: 5px 5px 0 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;
        width: 345px;
        /* height: 500px; */
    }
}

/*
.image {
    position: absolute;
    right: 0;
    top: 0;
}

.image img {
    height: 350px;
    border-radius: 0 5px 5px 0;
    background-image: ;
}

.attribution {
    font-size: 11px; 
    text-align

.attribution a {
    color: hsl(228, 13%, 53%);  
}
*/